* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: rgb(99, 99, 99);
	display: flex;
	flex-direction: column;
	align-items: center;

}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	color: white;
	font-weight: 250;
	font-size: 2em;
	letter-spacing: 10px;
}

#btnStart {
	/* display: block; */
	width: 200px;


}

.simonBtn {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	text-align: center;
	/*margin: 10px;*/
	/*background-color: red;*/
	/*border: 5px solid rgb(0, 0, 0);*/
	/*width: 100px;*/
	height: 200px;
	border-radius: 15px;
}

.simonBtn:hover {
	transition: 0.2s;
	transform: scale(1.01);

}

.simonContainer {
	/*background-color: #fff;*/
	margin-top: 20px;
	display: grid;
	grid-template-columns: 200px 200px;
	justify-content: center;
	gap: 30px;
}

.green {
	background-color: green;

}

.greenOn {
	background-color: rgb(255, 255, 255);
	box-shadow:
		0 0 5px #fff,
		0 0 10px #fff,
		0 0 20px #fff,
		0 0 40px #0f0,
		0 0 20px #0f0,
		0 0 50px #0f0,
		0 0 50px #0f0;
}



.red {
	background-color: rgb(255, 0, 0);

}

.redOn {
	background-color: rgb(255, 255, 255);
	box-shadow:
		0 0 5px #fff,
		0 0 10px #fff,
		0 0 20px #fff,
		0 0 40px #f00,
		0 0 20px #f00,
		0 0 50px #f00,
		0 0 50px #f00;
}



.yellow {
	background-color: yellow;
}

.yellowOn {
	background-color: rgb(255, 255, 255);
	box-shadow:
		0 0 5px #fff,
		0 0 10px #fff,
		0 0 20px #fff,
		0 0 40px #FFFF00,
		0 0 20px #FFFF00,
		0 0 50px #FFFF00,
		0 0 50px #FFFF00;
}

.blue {
	background-color: blue;

}

.blueOn {
	background-color: rgb(255, 255, 255);
	box-shadow:
		0 0 5px #fff,
		0 0 10px #fff,
		0 0 20px #fff,
		0 0 40px #0000ff,
		0 0 20px #0000ff,
		0 0 50px #0000ff,
		0 0 50px #0000ff;
}